  <div id="container">
    <div id ="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image6"></div>
    </div>
  <div class="about">
  	<p class="about-text">
  		今日の試合劇的だったな、あの投手良いピッチングだったな、あのホームラン凄かったな等</br>
  	誰かとあの話題で盛り上がりたい時、このサイトで同じ球団のファンはもちろん他球団のファンとも</br>
  	一緒になって語り合うことが出来るサイトです。
  </p>
  </div>
</div>
